/*
PALETA DE CORES

Cereja: #7c1f31
Lua nova: #1e1e1e 



FONTES
300 LIGHT
400 REGULAR
700 BOLD

*/


:root {
    --main-color: #7c1f31; 
    --second-main-color: #a73c51;

    --bg-color: #1e1e1e
}


body {
   font-family: 'Comfortaa', sans-serif;
   font-weight: 400; /* regular */
   position: relative;
   width: 100%;
   height: 100vh;
   background-image: url('/imgs/plano_de_fundo2.png');
   background-size: cover;
   background-position: center; 
   background-repeat: no-repeat;
 }
 
 .wallpaper_home {
   display: none;
 }


/* reseta margens e o padding padrão */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}
  
  html::-webkit-scrollbar{
    width: 0.35rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------- */


/* CABEÇALHO */
header {
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 1.25rem; /* 20px => 1.25rem */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
   font-weight: 300;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   backdrop-filter: blur(0.625rem);
}

/* estilos para a logo */
.logo {
   margin-left: 5rem;
   font-size: 1.3rem;
   text-decoration: none;
   font-weight: 400;
   color: white;
}
.logo span {
   color: var(--second-main-color);
   font-weight: 700;
}

/* estilos para o menu de navegação */
nav ul {
   margin-right: 2.5rem;
   list-style-type: none;
   display: flex;
}

nav ul li {
   margin: 0 2.8125rem;
}

/* opções no hamburguer (menu)*/
nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 1rem;
   transition: color 0.3s ease;
}

nav ul li a:hover {
   color: var(--second-main-color);
   text-decoration: underline;
   transition: color 0.5s ease, text-decoration 0.3s ease;
}

/* estilos para o ícone de menu (hamburguer) */
.menu {
   display: none; /* esconde o menu em telas grandes */
   cursor: pointer;
}

/* exibe o ícone de menu apenas em telas pequenas | MUDA ELEMENTOS DENTRO DO MODO MOBILE */ 
@media (max-width: 768px) {
   .menu {
       display: block; /* exibe o ícone de menu em telas pequenas */
   }

   nav ul {
       display: none; /* esconde a navegação em telas pequenas */
       flex-direction: column;
       width: 100%;
       text-align: center;
       font-weight: 400; /* regular */
   }

   nav ul li {
       padding: 2.5rem;
       color: white;
   }

   /* mostra o menu quando a classe 'active' for adicionada */
   nav.active ul {
       display: flex;
   }

   nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      transition: none;
   }

   .logo {
      margin-left: 5rem;
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: 400;
      color: white;
   }

}

/* ícone de menu (hamburguer) */
.menu i {
    color: white;
    font-size: 2.5rem;
    display: block; /* Exibe o ícone */
    margin-right: 3rem;
}

.menu i:hover {
    color: var(--main-color);
    transition: none;
}

/* responsividade para telas menores */
@media(max-width: 990px) {
   html {
       font-size: 55.5%;
   }

   .home {
       flex-flow: column-reverse;
       padding: 8rem 0;
       padding-top: 15rem;
   }
}

@media(max-width: 700px) {
   html {
       font-size: 50.5%;
   }

   .home {
       padding: 8rem 0;
   }

   section {
       padding: 1rem;
   }

   .header {
       position: fixed;
       padding: 0;
   }

   .header .logo,
   .header .menu {
       padding: 2.1rem;
   }

   /* mostra o ícone do menu */
   .menu i {
       display: flex;
   }

   /* ajusta o comportamento da navbar quando 'hamburguer'(menu) quando for clicado */
   .header .navbar.active {
       display: grid;
   }

   .header .navbar {
       position: absolute;
       top: 7rem;
       display: none;
       text-align: center;
       justify-content: center;
       background-color: var(--main-color);
       width: 100%;
       gap: 2rem;
       padding: 1rem;
   }

   .header .navbar a#home {
       color: white;
       text-decoration: none;
   }

   .header .navbar a {
       width: 100%;
       padding: 1rem;
   }

   /* adciona efeito de hover nos links do menu */
   .header .navbar a:hover,
   .header .navbar a#home:hover {
        padding-inline: 15rem;
        background-color: white;
        color: var(--main-color);
        text-decoration: none;
        transition : none;
   }
}